a:hover, a:focus {
    text-decoration: none !important;
}

#logo{
	padding:7px 103px 7px 15px;
}

#browse_products{
  	font-size: 15px;
	font-family: "Calibri";
	color: rgb( 109, 50, 136 );
	font-weight: bold;
	
 }


#navbar-search{
	background: url('/static/img/i_search.png') no-repeat 99% center rgb(255,255,255);
	font-size: 18px;
	font-family: "Calibri";
	color: rgb( 138, 136, 139 );
	height: 28px;
	width:351px;
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 6px 7px;
}

#navbar_seperator{
	padding-top: 13px;
	padding-bottom: 13px;
}

#login{
	font-size: 14px;
 	font-family: "Calibri";
 	color: rgb( 109, 50, 136 );
}

#log_out {
  font-size: 14px;
  font-family: "Calibri";
  color: rgb( 50, 49, 51 );
}

.navbar-nav > li > a,.navbar-form {
 	padding-left: 9px;
 	padding-right: 9px;
 }

.container_nav > ul{
	list-style-type: none;
	/*background-image: url('/static/img/i_base_nav.jpg');*/
	background-color: rgb(255, 255, 255);
	border-radius: 1px;
	box-shadow: 1px 5px 3px 0px rgba(206,206,206,0.75);
	display:inline-block;
	padding: 0;
	position: relative;
}




.container_nav > ul li,.box_steps > ul li{
 	display: inline;
 }


.container_nav_items{
	font-size: 13px;
	font-family: "Calibri";
	color: rgb( 126, 126, 126 );
	font-weight: bold;
	text-align: left;
	text-shadow: 0 1px 0 rgb( 255, 255, 255 );
	padding: 13px 15px;
}

.container_nav_items:hover,.container_nav_items:active,.container_nav_items:focus, .item_active{
	color: rgb( 109, 50, 136 );
}

.box_steps > ul {
	list-style-type: none;
	display:inline-block;
	padding: 0;
	background: url('/static/img/i_box_nav.jpg') no-repeat;
	min-width: 293px;
	min-height: 25px;
}

.box_steps_items{
	font-size: 10px;
	font-family: "HelveticaNeue";
	color: rgb( 153, 153, 153 );
	font-weight: bold;
	text-align: left;
	text-shadow: 0 1px 0 rgb( 255, 255, 255 );
	padding:6px 20px;
}

.box_steps_items:hover,.box_steps_items:active,.box_steps_items:focus, .step_active{
	color: rgb( 139, 81, 166 );
}


.my_shops_content {
  font-size: 13px;
  font-family: "Calibri";
  color: rgb( 120, 122, 122 );
  font-weight: bold;
}

.content {
  font-size: 28px;
  font-family: "Calibri";
  color: rgb( 139, 81, 166 );
  font-weight: bold;
}


#product-search{
	background: url('/static/img/i_search.png') no-repeat 99% center rgb(255,255,255);
	font-size: 18px;
	font-family: "Calibri";
	color: rgb( 129, 123, 123 );
	height: 28px;
	width:325px;
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 6px 7px;
}

input[type=checkbox].css-checkbox {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0;
	border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}

.css-label{ background-image:url(/static/img/i_chrome_style.png); }

.find_products{
  font-size: 18px;
  font-family: "Calibri";
  color: rgb( 129, 123, 123 );
  line-height: 0.8;
}

.base_border{
  background-color:rgb(238,238,238);
  padding:10px;
  margin-top: 20px;
}

.base{
	background-color: rgb(255,255,255);
}

.products_search{
  font-size: 17px;
  font-family: "Calibri";
  color: rgb( 0, 0, 0 );
  font-weight: bold;
  padding:22px 7px;
}


.product > td{
	background:rgb(250,250,250);
	position:relative;
}

.products_table > tbody > tr > td{
	padding:0;
	border: 0;
	width: 33.33%;
	vertical-align: middle;
}

.spacer{
	height:13px;
}

.product > td > img{
	padding-right: 18px;
}

/*.product > td + td{
	text-align: center;
}*/
.product > td + td +td{
	text-align: right;
}

.product > td > span{
  font-size: 14px;
  font-family: "Calibri";
  color: rgb( 99, 99, 99 );
  /*line-height: 37px;*/
}

.play_button{
	position: absolute; 
	left: 5.5px;
	top: 5px; 
}

.product_img,.play_button{
	display:block;
	float:left;
}

.product_img+span,.play_button+span{
	line-height: 37px;
}


.upload_new{
	padding:23px 9px;
	text-align: right;
	padding-bottom: 23px;
	margin-right: 9px;
	margin-left: 9px;
	border-bottom: 4px solid rgb(239,239,237);
}

#pagination{
	text-align: center;
	background-color: rgb(249,249,249);
	padding: 7px;
	border-bottom: 1px solid rgb(129,83,152);
}

#pagination > .p_direction.p_disabled{
	color:rgb(197,178,206);
}

#pagination > .p_direction{
	border:1px solid rgb(201,201,201);
	font-family: "Calibri";
	color: rgb( 139, 81, 166 );
	font-weight: bold;
	padding-left:5px;
	padding-right: 5px;
	font-size:18px;
	letter-spacing: -2px;

}

.table{
	margin-bottom: 0px;
}