.c_base{
	padding-left: 46px;
	padding-right: 10px;
	margin-bottom: 100px;
}

.upload{
	padding-left: 48px; ;
}

.header_container{padding-left: 11px;padding-right: 11px;}

.navbar-nav > li > a.no_right_pad{padding-right: 0px;}
.navbar-nav > li > a.no_left_pad{padding-left: 0px;}
.navbar-nav > li > a.left_extra_pad{padding-left: 15px;}

.products_base{
	padding-right: 12px;
}

.products_base,.upload{
	margin-top: 50px;
}

.navbar{
	margin-bottom: 30px;
}

a:hover, a:focus {
    text-decoration: none !important;
}

#logo{
	padding:7px 103px 7px 15px;
}

#browse_products{
  	font-size: 15px;
	font-family: 'Calibri';
	color: rgb( 109, 50, 136 );
	font-weight: bold;
	
 }

#navbar_seperator{
	padding-top: 13px;
	padding-bottom: 13px;
}

#login{
	font-size: 14px;
 	font-family: 'Calibri';
 	color: rgb( 109, 50, 136 );
}

#log_out {
  font-size: 14px;
  font-family: 'Calibri';
  color: rgb( 50, 49, 51 );
}

.navbar{border-radius: 0;}

.navbar-nav > li > a,.navbar-form {
 	padding-left: 9px;
 	padding-right: 9px;
 }


.container_nav > ul{
	list-style-type: none;
	background-color: rgb(255, 255, 255);
	border-radius: 1px;
	box-shadow: 1px 1px 3px 0 rgba(206,206,206,0.75);
	display:inline-block;
	padding: 7px 0;
	position: relative;
	margin-bottom: 15px;
}

.container_nav > ul:before, .container_nav > ul:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 6px;
  left: 5px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #FFF;
  -webkit-box-shadow: 0 2px 9px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 2px 9px rgba(0, 0, 0, 1);
  box-shadow: 0 2px 9px rgba(0, 0, 0, 1);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.container_nav > ul:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 5px;
  left: auto;
}

.container_nav > ul li,.box_steps > ul li{
 	display: inline;
 }

.container_nav_items{
	font-size: 13px;
	font-family: 'Calibri';
	color: rgb( 126, 126, 126 );
	font-weight: bold;
	text-align: left;
	text-shadow: 0 1px 0 rgb( 255, 255, 255 );
	padding: 13px 15px;
}

.container_nav_items:hover,.container_nav_items:active,.container_nav_items:focus, .item_active{
	color: rgb( 109, 50, 136 );
}

.box_steps > ul {
	list-style-type: none;
	display:inline-block;
	padding: 0;
	background: url('/static/img/i_box_nav.jpg') no-repeat;
	min-width: 293px;
	min-height: 25px;
}

.box_steps_items{
	font-size: 10px;
	font-family: "HelveticaNeue";
	color: rgb( 153, 153, 153 );
	font-weight: bold;
	text-align: left;
	text-shadow: 0 1px 0 rgb( 255, 255, 255 );
	padding:6px 20px;
}

.box_steps_items:hover,.box_steps_items:active,.box_steps_items:focus, .step_active{
	color: rgb( 139, 81, 166 );
}


.my_shops_content {
  font-size: 13px;
  font-family: 'Calibri';
  color: rgb( 120, 122, 122 );
  font-weight: bold;
}

.content {
  font-size: 28px;
  font-family: 'Calibri';
  color: rgb( 139, 81, 166 );
  font-weight: bold;
}


.product_search{
	background: url('/static/img/i_search.png') no-repeat 99% center rgb(255,255,255);
	font-size: 18px;
	font-family: 'Calibri';
	color: rgb( 129, 123, 123 );
	height: 28px;
	width:325px;
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 6px 20px 6px 7px;
}

input[type=checkbox].css-checkbox {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0;
	border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:12px;
	vertical-align:middle;
	cursor:pointer;
	font-weight: bold;
	font-family: 'calibri';
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}

.css-label{ background-image:url(/static/img/i_chrome_style.png); }

.find_products{
  font-size: 18px;
  font-family: 'Calibri';
  color: rgb( 129, 123, 123 );
  line-height: 0.8;
}

.base_border{
  background-color:rgb(238,238,238);
  padding:10px;
  margin-top: 40px;
}

.base{
	background-color: rgb(255,255,255);
}

.products_search{
  font-size: 17px;
  font-family: 'Calibri';
  color: rgb( 0, 0, 0 );
  font-weight: bold;
  padding:22px 7px;
}


.product > td{
	background:rgb(250,250,250);
	position:relative;
}

.products_table > tbody > tr > td{
	padding:0;
	border: 0;
	width: 33.33%;
	vertical-align: middle;
}

.spacer{
	height:13px;
}

.product > td+td+td> img{
	padding-right: 18px;
}

.product > td + td +td{
	text-align: right;
}

.product > td > span{
  font-family: 'Calibri';
  color: rgb( 99, 99, 99 );
}

.play_button{
/*	position: absolute; 
	left: 5.5px;
	top: 5px; 
*/
	padding-left:5px;
}

.play_button+.product_name{
	padding-left: 25px;
}
.product_name{
	padding-left: 60px;
}

/*.product_img,.play_button{
	display:block;
	float:left;
}

.product_img+span,.play_button+span{
	line-height: 37px;
}
*/
/*.play_button,.play_button+span{
position: relative;
left: -54px;
}*/
.upload_new{
	padding:23px 9px;
	text-align: right;
	padding-bottom: 23px;
	margin-right: 9px;
	margin-left: 9px;
	border-bottom: 4px solid rgb(239,239,237);
}

#pagination{
	text-align: center;
	background-color: rgb(249,249,249);
	padding: 7px;
	border-bottom: 1px solid rgb(129,83,152);
}

#pagination > .p_direction.p_disabled{
	color:rgb(197,178,206);
}

#pagination > .p_direction{
	border:1px solid rgb(201,201,201);
	font-family: 'Calibri';
	color: rgb( 139, 81, 166 );
	font-weight: bold;
	padding-left:5px;
	padding-right: 5px;
	font-size:18px;
	letter-spacing: -2px;
}

.table{
	margin-bottom: 0px;
}


#add_content > .tab-pane{
	background-color: rgb(242,242,242);
	border-left: 3px solid rgb(238,238,238);
	border-right: 3px solid rgb(238,238,238);
	border-bottom: 3px solid rgb(238,238,238);
	border-top: 0 solid rgb(238,238,238);
	padding:20px;
}

.add_border{
	min-height: 236px;
	padding:12px;
	border: 2px dashed rgb( 139, 81, 166 );
}

#add_tabs {
	border-bottom: 0;
	margin-top: 60px;
}

#add_tabs > li > a{
  font-size: 22px;
  font-family: 'Calibri';
  color: rgb(120, 120, 120);
  font-weight: bold;
  padding: 2px 23px 2px;
  border-left: 3px solid rgb(238,238,238);
  border-top: 3px solid rgb(238,238,238);
  border-right: 3px solid rgb(238,238,238);
  margin-right: 7px;
}

#add_tabs > li.active > a, #add_tabs>li>a:hover{
	background-color: rgb(242,242,242);
	color: rgb(139, 81, 166);
	border-bottom-color: rgb(242,242,242); 
}


.add_plus {
  font-size: 36px;
  font-family: 'Calibri';
  color: rgb( 147, 147, 147 );
  font-weight: bold;
  line-height: 39px;
}

.add_upload {
	font-size: 29px;
	font-family: 'Calibri';
	color: rgb( 255, 255, 255 );
	font-weight: bold;
	background-color:rgb( 139, 81, 166 );
	padding:9px;
	position:relative;
}

.add_upload > img{
	position:absolute;
	top:-14px;
	left:164px;
}

.products_table > tbody > tr > td.prd_tile{
    background: rgb(250,250,250) url('/static/img/i_tile.jpg') no-repeat left;
    /*padding-left: 60px;*/
    height:38px;
}

.products_table > tbody > tr > td.prd_tile.tile1{background-position: 0 0;}
.products_table > tbody > tr > td.prd_tile.tile2{background-position: 0 -50px;}
.products_table > tbody > tr > td.prd_tile.tile3{background-position: 0 -100px;}
.products_table > tbody > tr > td.prd_tile.tile4{background-position: 0 -150px;}
.products_table > tbody > tr > td.prd_tile.tile5{background-position: 0 -200px;}
.products_table > tbody > tr > td.prd_tile.tile6{background-position: 0 -250px;}
.products_table > tbody > tr > td.prd_tile.tile7{background-position: 0 -300px;}

.products_table > tbody > tr > td.prd_type{
    padding-left: 40px;
}
.products_table > tbody > tr > td.prd_type.music{
	background: rgb(250,250,250) url('/static/img/i_music.png') no-repeat left; background-position:20px 10px; 
}
.products_table > tbody > tr > td.prd_type.video{
	background: rgb(250,250,250) url('/static/img/i_video.png') no-repeat left; background-position:20px 10px;
}
.products_table > tbody > tr > td.prd_type.ebook{
	background: rgb(250,250,250) url('/static/img/i_book.png') no-repeat left; background-position:20px 10px;
}
.products_table > tbody > tr > td.prd_type.pic{
	background: rgb(250,250,250) url('/static/img/i_image.png') no-repeat left; background-position:20px 10px;
}
