<header>

	<nav class="navbar navbar-default" role="navigation" style="opacity:0.9;">
		<div class="container header_container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" id="logo" href="#">
					<img src="/static/img/logo.png" alt="Logo"></a>
			</div>
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li >
						<a href="#" id="browse_products">Browse Products</a>
					</li>
					<li>
						<a href="#">
							<img src="/static/img/i_cart.png" alt="Cart"></a>
					</li>

				</ul>
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input id="navbar-search" type="text" class="form-control product_search" placeholder="search Dimest |"></div>
				</form>

				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#" class="no_left_pad">
							<img src="/static/img/i_twitter.png" alt="Twitter Link"></a>
					</li>
					<li >
						<a href="#" class="no_left_pad">
							<img src="/static/img/i_tumblr.png" alt="Tumblr Blog"></a>
					</li>
					<li >
						<a id="navbar_seperator" class="no_right_pad left_extra_pad">
							<img src="/static/img/i_seperator.png" alt="Seperator"></a>
					</li>
					<li >
						<a id="login" href="#">Logged in as evi@dimest.com</a>
					</li>
					<li >
						<a id="log_out" href="#" class="left_extra_pad">
							<img src="/static/img/i_logout.png" alt="logout">
							<span >Log out</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>