<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dimest Social Commerce Engine - Sell Your Files Online</title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="keywords" content="Bandpage,facebook,sell music online,app store,sell digital files,social commerce,sell apps"/>
	<meta name="description" content="Dimest helps you sell your music on Facebook and lets you market your apps, games, software products or sell stock photos online and in blogs."/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	-->
	<link rel="stylesheet/less" type="text/css" href="/static/less/bootstrap.less" />
	<script src="/static/js/less-1.5.0.min.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
	-->
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
	<!--[if lt IE 9]>
	<script src="../../assets/js/html5shiv.js"></script>
	<script src="../../assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<header>

		<nav class="navbar navbar-default" role="navigation" style="opacity:0.9;">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" id="logo" href="#">
						<img src="/static/img/logo.png"></a>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li >
							<a href="#" id="browse_products">Browse Products</a>
						</li>
						<li>
							<a href="#">
								<img src="/static/img/i_cart.png"></a>
						</li>

					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input id="navbar-search" type="text" class="form-control" placeholder="search Dimest |"></div>
					</form>

					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">
								<img src="/static/img/i_twitter.png"></a>
						</li>
						<li >
							<a href="#">
								<img src="/static/img/i_tumblr.png"></a>
						</li>
						<li >
							<a id="navbar_seperator">
								<img src="/static/img/i_seperator.png"></a>
						</li>
						<li >
							<a id="login" href="#">Logged in as evi@dimest.com</a>
						</li>
						<li >
							<a id="log_out" href="#">
								<img src="/static/img/i_logout.png" style="vertical-align:text-top;">
								<span >Log out</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<div class="container_nav text-center">
			<ul>
				<li>
					<a href="#" class="container_nav_items">UPLOAD</a>
				</li>
				<li>
					<img src="/static/img/i_seperator_nav.png"></li>
				<li>
					<a href="#" class="container_nav_items item_active">MY SHOPS</a>
				</li>
				<li>
					<img src="/static/img/i_seperator_nav.png"></li>
				<li>
					<a href="#" class="container_nav_items">MY PRODUCTS</a>
				</li>
				<li>
					<img src="/static/img/i_seperator_nav.png"></li>
				<li>
					<a href="#" class="container_nav_items">MY ACCOUNT</a>
				</li>
				<li>
					<img src="/static/img/i_seperator_nav.png"></li>
				<li>
					<a href="#" class="container_nav_items">MY PROFILE</a>
				</li>

			</ul>
		</div>
		<div clas="rows container_step">
			<div class="col-md-2 my_shops_content">&lt; My Shops / Content</div>
			<div class="col-md-8 box_steps text-center">
				<ul>
					<li>
						<a href="#" class="box_steps_items step_active">1.CONTENT</a>
					</li>
					<li>
						<a href="#" class="box_steps_items">2.DESIGN</a>
					</li>
					<li>
						<a href="#" class="box_steps_items">
							<!-- <img src="/static/img/i_publish.png">
							-->
							3.PUBLISH
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="rows">
			<div class="col-md-6">
				<div class="content">Content</div>
				<form class="form-inline" role="form">
					<div class="form-group">
						<input id="product-search" type="text" class="form-control" placeholder="Select products in your own catalog"></div>
					<div class="pull-right">
						<input id="my_products" class="css-checkbox" type="checkbox" />
						<label for="my_products" name="my_products_check" class="css-label" style="font-weight:bold;font-size: 12px;font:callibri;">Only show my own products</label>
					</div>
				</form>
				<div class="base_border">
					<div class="base">
						<div class="products_search">My Recently added Products:</div>
						<table class="products_table table">
							<tbody>
								<tr class="product">
									<td>
										<img class="product_img" src="/static/img/i_p1_tile.jpg">
										<img class="play_button" src="/static/img/i_play.png">
										<span>Unit</span>
									</td>
									<td>
										<img src="/static/img/i_music.png">
										<span>Music / mp3</span>
									</td>
									<td>
										<img src="/static/img/i_edit.png">
										<img src="/static/img/i_add.png"></td>
								</tr>
								<tr class="spacer">
									<td></td>
								</tr>
								<tr class="product">
									<td>
										<img class="product_img" src="/static/img/i_p2_tile.jpg">
										<img class="play_button" src="/static/img/i_play.png">
										<span>EDG</span>
									</td>
									<td>
										<img src="/static/img/i_video.png">
										<span>Video/ flv</span>
									</td>
									<td>
										<img src="/static/img/i_edit.png">
										<img src="/static/img/i_add.png"></td>
								</tr>
								<tr class="spacer">
									<td></td>
								</tr>
								<tr class="product">
									<td>
										<img class="product_img" src="/static/img/i_p3_tile.jpg">
										<img class="play_button" src="/static/img/i_play.png">
										<span>Plateia</span>
									</td>
									<td>
										<img src="/static/img/i_music.png">
										<span>Music / mp3</span>
									</td>
									<td>
										<img src="/static/img/i_edit.png">
										<img src="/static/img/i_add.png"></td>
								</tr>
							</tbody>
						</table>
						<div class="content upload_new">upload new &gt; </div>
						<div class="products_search">Search among All Available Products:&nbsp;&nbsp;&nbsp;<span style="font-weight: normal;">(your own &amp; other)</span>   </div>
						<table class="products_table table">
							<tbody>
								<tr class="product">
									<td>
										<img class="product_img" src="/static/img/i_p4_tile.jpg">
										<span>Lighter</span>
									</td>
									<td>
										<img src="/static/img/i_book.png">
										<span>E book / pdf</span>
									</td>
									<td><img src="/static/img/i_add.png"></td>
								</tr>
								<tr class="spacer"><td></td></tr>
								<tr class="product">
									<td>
										<img class="product_img" src="/static/img/i_p5_tile.jpg">
										<span>Dessert walk</span>
									</td>
									<td>
										<img src="/static/img/i_image.png">
										<span>Image / png</span>
									</td>
									<td><img src="/static/img/i_add.png"></td>
								</tr>
								<tr class="spacer"><td></td></tr>
								<tr class="product">
									<td>
										<img class="product_img" src="/static/img/i_p6_tile.jpg">
										<img class="play_button" src="/static/img/i_play.png">
										<span>Haunted Dream</span>
									</td>
									<td>
										<img src="/static/img/i_music.png">
										<span>Music / mp3</span>
									</td>
									<td><img src="/static/img/i_add.png"></td>
								</tr>
								<tr class="spacer"><td></td></tr>
								<tr class="product">
									<td>
										<img class="product_img" src="/static/img/i_p7_tile.jpg">
										<img class="play_button" src="/static/img/i_play.png">
										<span>Capital A</span>
									</td>
									<td>
										<img src="/static/img/i_music.png">
										<span>Music / mp3</span>
									</td>
									<td><img src="/static/img/i_add.png"></td>
								</tr>
								<tr class="spacer"><td></td></tr>
								<tr class="product">
									<td>
										<img class="product_img" src="/static/img/i_p8_tile.jpg">
										<img class="play_button" src="/static/img/i_play.png">
										<span>The trees</span>
									</td>
									<td>
										<img src="/static/img/i_video.png">
										<span>Video/ flv</span>
									</td>
									<td><img src="/static/img/i_add.png"></td>
								</tr>
								<tr class="spacer"><td></td></tr>	
								<tr class="product">
									<td>
										<img class="product_img" src="/static/img/i_p4_tile.jpg">
										<span>Lighter</span>
									</td>
									<td>
										<img src="/static/img/i_book.png">
										<span>E book / pdf</span>
									</td>
									<td><img src="/static/img/i_add.png"></td>
								</tr>
								<tr class="spacer"><td></td></tr>
								<tr class="product">
									<td>
										<img class="product_img" src="/static/img/i_p5_tile.jpg">
										<span>Dessert walk</span>
									</td>
									<td>
										<img src="/static/img/i_image.png">
										<span>Image / png</span>
									</td>
									<td><img src="/static/img/i_add.png"></td>
								</tr>
								<tr class="spacer"><td></td></tr>
								<tr class="product">
									<td>
										<img class="product_img" src="/static/img/i_p6_tile.jpg">
										<img class="play_button" src="/static/img/i_play.png">
										<span>Haunted Dream</span>
									</td>
									<td>
										<img src="/static/img/i_music.png">
										<span>Music / mp3</span>
									</td>
									<td><img src="/static/img/i_add.png"></td>
								</tr>
								<tr class="spacer"><td></td></tr>
								<tr class="product">
									<td>
										<img class="product_img" src="/static/img/i_p7_tile.jpg">
										<img class="play_button" src="/static/img/i_play.png">
										<span>Capital A</span>
									</td>
									<td>
										<img src="/static/img/i_music.png">
										<span>Music / mp3</span>
									</td>
									<td><img src="/static/img/i_add.png"></td>
								</tr>
								<tr class="spacer"><td></td></tr>
								<tr class="product">
									<td>
										<img class="product_img" src="/static/img/i_p8_tile.jpg">
										<img class="play_button" src="/static/img/i_play.png">
										<span>The trees</span>
									</td>
									<td>
										<img src="/static/img/i_video.png">
										<span>Video/ flv</span>
									</td>
									<td><img src="/static/img/i_add.png"></td>
								</tr>
								<tr class="spacer"><td></td></tr>	
								<tr class="product">
									<td>
										<img class="product_img" src="/static/img/i_p4_tile.jpg">
										<span>Lighter</span>
									</td>
									<td>
										<img src="/static/img/i_book.png">
										<span>E book / pdf</span>
									</td>
									<td><img src="/static/img/i_add.png"></td>
								</tr>
								<tr class="spacer"><td></td></tr>
								<tr class="product">
									<td>
										<img class="product_img" src="/static/img/i_p5_tile.jpg">
										<span>Dessert walk</span>
									</td>
									<td>
										<img src="/static/img/i_image.png">
										<span>Image / png</span>
									</td>
									<td><img src="/static/img/i_add.png"></td>
								</tr>
								<tr class="spacer"><td></td></tr>
								<tr class="product">
									<td>
										<img class="product_img" src="/static/img/i_p6_tile.jpg">
										<img class="play_button" src="/static/img/i_play.png">
										<span>Haunted Dream</span>
									</td>
									<td>
										<img src="/static/img/i_music.png">
										<span>Music / mp3</span>
									</td>
									<td><img src="/static/img/i_add.png"></td>
								</tr>
								<tr class="spacer"><td></td></tr>
								<tr class="product">
									<td colspan="3" id="pagination">
										<span class="p_direction p_disabled">I&lt;</span>
										<span class="p_direction p_disabled">&lt;</span>
										<input type="text" value="1" style="width:50px;"> / 18
										<span class="p_direction">&gt;</span>
										<span class="p_direction">&gt;I</span>
										<span style="padding-left:44px;color:rgb(0,0,0)">[1 - 15/263]</span>
									</td>
								</tr>
								<tr class="spacer"><td></td></tr><tr class="spacer"><td></td></tr><tr class="spacer"><td></td></tr><tr class="spacer"><td></td></tr><tr class="spacer"><td></td></tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-5">
				<div class="content">add tabs</div>
				<div class="find_products">Find products and drag them into selected shop tab</div>
			</div>
		</div>
	</div>

	<!--Javascript -->
	<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>