<div class="container_nav text-center">
	<ul>
		<li>
			<a href="#" class="container_nav_items">UPLOAD</a>
		</li>
		<li>
			<img src="/static/img/i_seperator_nav.png"></li>
		<li>
			<a href="#" class="container_nav_items item_active">MY SHOPS</a>
		</li>
		<li>
			<img src="/static/img/i_seperator_nav.png"></li>
		<li>
			<a href="#" class="container_nav_items">MY PRODUCTS</a>
		</li>
		<li>
			<img src="/static/img/i_seperator_nav.png"></li>
		<li>
			<a href="#" class="container_nav_items">MY ACCOUNT</a>
		</li>
		<li>
			<img src="/static/img/i_seperator_nav.png"></li>
		<li>
			<a href="#" class="container_nav_items">MY PROFILE</a>
		</li>

	</ul>
</div>
<div clas="rows container_step">
	<div class="col-md-2 my_shops_content">&lt; My Shops / Content</div>
	<div class="col-md-8 box_steps text-center">
		<ul>
			<li>
				<a href="#" class="box_steps_items step_active">1.CONTENT</a>
			</li>
			<li>
				<a href="#" class="box_steps_items">2.DESIGN</a>
			</li>
			<li>
				<a href="#" class="box_steps_items">
					<!-- <img src="/static/img/i_publish.png">
					-->
					3.PUBLISH
				</a>
			</li>
		</ul>
	</div>
</div>