<div class="content">Content</div>
<form class="form-inline" role="form">
	<div class="form-group">
		<input id="product-search" type="text" class="form-control product_search" placeholder="Select products in your own catalog"></div>
	<div class="pull-right">
		<input id="my_products" class="css-checkbox" type="checkbox" />
		<label for="my_products" class="css-label">Only show my own products</label>
	</div>
</form>

<div class="base_border">
	<div class="base">
		<div class="products_search">My Recently added Products:</div>
		<table class="products_table table">
			<tbody>
				<tr class="product">
					<td class="prd_tile tile1">
						<img class="play_button"  alt="Play Button" src="/static/img/i_play.png">
						<span class="product_name">Unit</span>
					</td>
					<td class="prd_type music">
						<span>Music / mp3</span>
					</td>
					<td>
						<img src="/static/img/i_edit.png" alt="Edit">
						<img src="/static/img/i_add.png" alt="add pic"></td>
				</tr>
				<tr class="spacer">
					<td colspan="3"></td>
				</tr>
				<tr class="product">
					<td class="prd_tile tile2">
						<img class="play_button" alt="Play Button" src="/static/img/i_play.png">
						<span class="product_name">EDG</span>
					</td>
					<td class="prd_type video">
						<span>Video/ flv</span>
					</td>
					<td>
						<img src="/static/img/i_edit.png" alt="Edit">
						<img src="/static/img/i_add.png" alt="add pic"></td>
				</tr>
				<tr class="spacer">
					<td colspan="3"></td>
				</tr>
				<tr class="product">
					<td class="prd_tile tile3">
						<img class="play_button" alt="Play Button" src="/static/img/i_play.png">
						<span class="product_name">Plateia</span>
					</td>
					<td class="prd_type music">
						<span>Music / mp3</span>
					</td>
					<td>
						<img src="/static/img/i_edit.png" alt="Edit">
						<img src="/static/img/i_add.png" alt="add pic"></td>
				</tr>
			</tbody>
		</table>
		<div class="content upload_new">upload new &gt; </div>
		<div class="products_search">Search among All Available Products:&nbsp;&nbsp;&nbsp;<span style="font-weight: normal;">(your own &amp; other)</span>   </div>
		<table class="products_table table">
			<tbody>
				<tr class="product">
					<td class="prd_tile tile4">
						<span class="product_name">Lighter</span>
					</td>
					<td class="prd_type ebook">
						<span>E book / pdf</span>
					</td>
					<td><img src="/static/img/i_add.png" alt="add pic"></td>
				</tr>
				<tr class="spacer"><td colspan="3"></td></tr>
				<tr class="product">
					<td class="prd_tile tile5">
						<span class="product_name">Dessert walk</span>
					</td>
					<td class="prd_type pic">
						<span>Image / png</span>
					</td>
					<td><img src="/static/img/i_add.png" alt="add pic"></td>
				</tr>
				<tr class="spacer"><td colspan="3"></td></tr>
				<tr class="product">
					<td class="prd_tile tile6">
						<img class="play_button" alt="Play Button" src="/static/img/i_play.png">
						<span class="product_name">Haunted Dream</span>
					</td>
					<td class="prd_type music">
						<span>Music / mp3</span>
					</td>
					<td><img src="/static/img/i_add.png" alt="add pic"></td>
				</tr>
				<tr class="spacer"><td colspan="3"></td></tr>
				<tr class="product">
					<td class="prd_tile tile7">
						<img class="play_button" alt="Play Button" src="/static/img/i_play.png">
						<span class="product_name">Capital A</span>
					</td>
					<td class="prd_type music">
						<span>Music / mp3</span>
					</td>
					<td><img src="/static/img/i_add.png" alt="add pic"></td>
				</tr>
				<tr class="spacer"><td colspan="3"></td></tr>
				<tr class="product">
					<td class="prd_tile tile1">
						<img class="play_button" alt="Play Button" src="/static/img/i_play.png">
						<span class="product_name">The trees</span>
					</td>
					<td class="prd_type video">
						<span>Video/ flv</span>
					</td>
					<td><img src="/static/img/i_add.png" alt="add pic"></td>
				</tr>
				<tr class="spacer"><td colspan="3"></td></tr>	
				<tr class="product">
					<td class="prd_tile tile4">
						<span class="product_name">Lighter</span>
					</td>
					<td class="prd_type ebook">
						<span>E book / pdf</span>
					</td>
					<td><img src="/static/img/i_add.png" alt="add pic"></td>
				</tr>
				<tr class="spacer"><td colspan="3"></td></tr>
				<tr class="product">
					<td class="prd_tile tile5">
						<span class="product_name">Dessert walk</span>
					</td>
					<td class="prd_type pic">
						<span>Image / png</span>
					</td>
					<td><img src="/static/img/i_add.png" alt="add pic"></td>
				</tr>
				<tr class="spacer"><td colspan="3"></td></tr>
				<tr class="product">
					<td class="prd_tile tile6">
						<img class="play_button" alt="Play Button" src="/static/img/i_play.png">
						<span class="product_name">Haunted Dream</span>
					</td>
					<td class="prd_type music">
						<span>Music / mp3</span>
					</td>
					<td><img src="/static/img/i_add.png" alt="add pic"></td>
				</tr>
				<tr class="spacer"><td colspan="3"></td></tr>
				<tr class="product">
					<td class="prd_tile tile7">
						<img class="play_button" alt="Play Button" src="/static/img/i_play.png">
						<span class="product_name">Capital A</span>
					</td>
					<td class="prd_type music">
						<span>Music / mp3</span>
					</td>
					<td><img src="/static/img/i_add.png" alt="add pic"></td>
				</tr>
				<tr class="spacer"><td colspan="3"></td></tr>
				<tr class="product">
					<td class="prd_tile tile1">
						<img class="play_button" alt="Play Button" src="/static/img/i_play.png">
						<span class="product_name">The trees</span>
					</td>
					<td class="prd_type video">
						<span>Video/ flv</span>
					</td>
					<td><img src="/static/img/i_add.png" alt="add pic"></td>
				</tr>
				<tr class="spacer"><td colspan="3"></td></tr>	
				<tr class="product">
					<td class="prd_tile tile4">
						<span class="product_name">Lighter</span>
					</td>
					<td class="prd_type ebook">
						<span>E book / pdf</span>
					</td>
					<td><img src="/static/img/i_add.png" alt="add pic"></td>
				</tr>
				<tr class="spacer"><td colspan="3"></td></tr>
				<tr class="product">
					<td class="prd_tile tile5">
						<span class="product_name">Dessert walk</span>
					</td>
					<td class="prd_type pic">
						<span>Image / png</span>
					</td>
					<td><img src="/static/img/i_add.png" alt="add pic"></td>
				</tr>
				<tr class="spacer"><td colspan="3"></td></tr>
				<tr class="product">
					<td class="prd_tile tile6">
						<img class="play_button" alt="Play Button" src="/static/img/i_play.png">
						<span class="product_name">Haunted Dream</span>
					</td>
					<td class="prd_type music">
						<span>Music / mp3</span>
					</td>
					<td><img src="/static/img/i_add.png" alt="add pic"></td>
				</tr>
				<tr class="spacer"><td colspan="3"></td></tr>
				<tr class="product">
					<td colspan="3" id="pagination">
						<span class="p_direction p_disabled">I&lt;</span>
						<span class="p_direction p_disabled">&lt;</span>
						<input type="text" value="1" style="width:50px;"> / 18
						<span class="p_direction">&gt;</span>
						<span class="p_direction">&gt;I</span>
						<span style="padding-left:44px;color:rgb(0,0,0)">[1 - 15/263]</span>
					</td>
				</tr>
				<tr class="spacer"><td colspan="3"></td></tr><tr class="spacer"><td colspan="3"></td></tr><tr class="spacer"><td colspan="3"></td></tr><tr class="spacer"><td colspan="3"></td></tr><tr class="spacer"><td colspan="3"></td></tr>
			</tbody>
		</table>
	</div>
</div>