<div class="content">Content</div>
<form class="form-inline" role="form">
	<div class="form-group">
		<input id="product-search" type="text" class="form-control product_search" placeholder="Select products in your own catalog"></div>
	<div class="pull-right">
		<input id="my_products" class="css-checkbox" type="checkbox" />
		<label for="my_products" name="my_products_check" class="css-label">Only show my own products</label>
	</div>
</form>

<div class="base_border">
	<div class="base">
		<div class="products_search">My Recently added Products:</div>
		<table class="products_table table">
			<tbody>
				<tr class="product">
					<td>
						<img class="product_img" src="/static/img/i_p1_tile.jpg">
						<img class="play_button" src="/static/img/i_play.png">
						<span>Unit</span>
					</td>
					<td>
						<img src="/static/img/i_music.png">
						<span>Music / mp3</span>
					</td>
					<td>
						<img src="/static/img/i_edit.png">
						<img src="/static/img/i_add.png"></td>
				</tr>
				<tr class="spacer">
					<td></td>
				</tr>
				<tr class="product">
					<td>
						<img class="product_img" src="/static/img/i_p2_tile.jpg">
						<img class="play_button" src="/static/img/i_play.png">
						<span>EDG</span>
					</td>
					<td>
						<img src="/static/img/i_video.png">
						<span>Video/ flv</span>
					</td>
					<td>
						<img src="/static/img/i_edit.png">
						<img src="/static/img/i_add.png"></td>
				</tr>
				<tr class="spacer">
					<td></td>
				</tr>
				<tr class="product">
					<td>
						<img class="product_img" src="/static/img/i_p3_tile.jpg">
						<img class="play_button" src="/static/img/i_play.png">
						<span>Plateia</span>
					</td>
					<td>
						<img src="/static/img/i_music.png">
						<span>Music / mp3</span>
					</td>
					<td>
						<img src="/static/img/i_edit.png">
						<img src="/static/img/i_add.png"></td>
				</tr>
			</tbody>
		</table>
		<div class="content upload_new">upload new &gt; </div>
		<div class="products_search">Search among All Available Products:&nbsp;&nbsp;&nbsp;<span style="font-weight: normal;">(your own &amp; other)</span>   </div>
		<table class="products_table table">
			<tbody>
				<tr class="product">
					<td>
						<img class="product_img" src="/static/img/i_p4_tile.jpg">
						<span>Lighter</span>
					</td>
					<td>
						<img src="/static/img/i_book.png">
						<span>E book / pdf</span>
					</td>
					<td><img src="/static/img/i_add.png"></td>
				</tr>
				<tr class="spacer"><td></td></tr>
				<tr class="product">
					<td>
						<img class="product_img" src="/static/img/i_p5_tile.jpg">
						<span>Dessert walk</span>
					</td>
					<td>
						<img src="/static/img/i_image.png">
						<span>Image / png</span>
					</td>
					<td><img src="/static/img/i_add.png"></td>
				</tr>
				<tr class="spacer"><td></td></tr>
				<tr class="product">
					<td>
						<img class="product_img" src="/static/img/i_p6_tile.jpg">
						<img class="play_button" src="/static/img/i_play.png">
						<span>Haunted Dream</span>
					</td>
					<td>
						<img src="/static/img/i_music.png">
						<span>Music / mp3</span>
					</td>
					<td><img src="/static/img/i_add.png"></td>
				</tr>
				<tr class="spacer"><td></td></tr>
				<tr class="product">
					<td>
						<img class="product_img" src="/static/img/i_p7_tile.jpg">
						<img class="play_button" src="/static/img/i_play.png">
						<span>Capital A</span>
					</td>
					<td>
						<img src="/static/img/i_music.png">
						<span>Music / mp3</span>
					</td>
					<td><img src="/static/img/i_add.png"></td>
				</tr>
				<tr class="spacer"><td></td></tr>
				<tr class="product">
					<td>
						<img class="product_img" src="/static/img/i_p8_tile.jpg">
						<img class="play_button" src="/static/img/i_play.png">
						<span>The trees</span>
					</td>
					<td>
						<img src="/static/img/i_video.png">
						<span>Video/ flv</span>
					</td>
					<td><img src="/static/img/i_add.png"></td>
				</tr>
				<tr class="spacer"><td></td></tr>	
				<tr class="product">
					<td>
						<img class="product_img" src="/static/img/i_p4_tile.jpg">
						<span>Lighter</span>
					</td>
					<td>
						<img src="/static/img/i_book.png">
						<span>E book / pdf</span>
					</td>
					<td><img src="/static/img/i_add.png"></td>
				</tr>
				<tr class="spacer"><td></td></tr>
				<tr class="product">
					<td>
						<img class="product_img" src="/static/img/i_p5_tile.jpg">
						<span>Dessert walk</span>
					</td>
					<td>
						<img src="/static/img/i_image.png">
						<span>Image / png</span>
					</td>
					<td><img src="/static/img/i_add.png"></td>
				</tr>
				<tr class="spacer"><td></td></tr>
				<tr class="product">
					<td>
						<img class="product_img" src="/static/img/i_p6_tile.jpg">
						<img class="play_button" src="/static/img/i_play.png">
						<span>Haunted Dream</span>
					</td>
					<td>
						<img src="/static/img/i_music.png">
						<span>Music / mp3</span>
					</td>
					<td><img src="/static/img/i_add.png"></td>
				</tr>
				<tr class="spacer"><td></td></tr>
				<tr class="product">
					<td>
						<img class="product_img" src="/static/img/i_p7_tile.jpg">
						<img class="play_button" src="/static/img/i_play.png">
						<span>Capital A</span>
					</td>
					<td>
						<img src="/static/img/i_music.png">
						<span>Music / mp3</span>
					</td>
					<td><img src="/static/img/i_add.png"></td>
				</tr>
				<tr class="spacer"><td></td></tr>
				<tr class="product">
					<td>
						<img class="product_img" src="/static/img/i_p8_tile.jpg">
						<img class="play_button" src="/static/img/i_play.png">
						<span>The trees</span>
					</td>
					<td>
						<img src="/static/img/i_video.png">
						<span>Video/ flv</span>
					</td>
					<td><img src="/static/img/i_add.png"></td>
				</tr>
				<tr class="spacer"><td></td></tr>	
				<tr class="product">
					<td>
						<img class="product_img" src="/static/img/i_p4_tile.jpg">
						<span>Lighter</span>
					</td>
					<td>
						<img src="/static/img/i_book.png">
						<span>E book / pdf</span>
					</td>
					<td><img src="/static/img/i_add.png"></td>
				</tr>
				<tr class="spacer"><td></td></tr>
				<tr class="product">
					<td>
						<img class="product_img" src="/static/img/i_p5_tile.jpg">
						<span>Dessert walk</span>
					</td>
					<td>
						<img src="/static/img/i_image.png">
						<span>Image / png</span>
					</td>
					<td><img src="/static/img/i_add.png"></td>
				</tr>
				<tr class="spacer"><td></td></tr>
				<tr class="product">
					<td>
						<img class="product_img" src="/static/img/i_p6_tile.jpg">
						<img class="play_button" src="/static/img/i_play.png">
						<span>Haunted Dream</span>
					</td>
					<td>
						<img src="/static/img/i_music.png">
						<span>Music / mp3</span>
					</td>
					<td><img src="/static/img/i_add.png"></td>
				</tr>
				<tr class="spacer"><td></td></tr>
				<tr class="product">
					<td colspan="3" id="pagination">
						<span class="p_direction p_disabled">I&lt;</span>
						<span class="p_direction p_disabled">&lt;</span>
						<input type="text" value="1" style="width:50px;"> / 18
						<span class="p_direction">&gt;</span>
						<span class="p_direction">&gt;I</span>
						<span style="padding-left:44px;color:rgb(0,0,0)">[1 - 15/263]</span>
					</td>
				</tr>
				<tr class="spacer"><td></td></tr><tr class="spacer"><td></td></tr><tr class="spacer"><td></td></tr><tr class="spacer"><td></td></tr><tr class="spacer"><td></td></tr>
			</tbody>
		</table>
	</div>
</div>