<div class="content">add tabs</div>
<div class="find_products">Find products and drag them into selected shop tab</div>

<ul id="add_tabs" class="nav nav-tabs">
  <li class="active"><a href="#">Music</a></li>
  <li><a href="#">Video</a></li>
  <li><a href="#">E-books</a></li>
  <li><a href="#">Other</a></li>
  <li class="add_plus">+</li>
</ul>
<div id="add_content" class="tab-content">
<div class="tab-pane active" id="home">
	<div class="add_border">
		<table class="products_table table">
			<tbody>
				<tr class="product">
					<td>
						<img class="product_img" src="/static/img/i_p2_tile.jpg">
						<img class="play_button" src="/static/img/i_play.png">
						<span>EDG</span>
					</td>
					<td>
						<img src="/static/img/i_video.png">
						<span>Video/ flv</span>
					</td>
					<td>
						<img src="/static/img/i_edit.png">
						<img src="/static/img/i_add.png"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>
<div class="add_upload">
	drag &amp; drop &nbsp;&nbsp;&nbsp;&nbsp;<img src="/static/img/i_cloud.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;products up here
</div>
<div class="content pull-right">next&nbsp;</div>

